<h1> Today's Kites</h1>
<ul>

    <%  @kites.each do |kite| %>
    <li>
    <!-- Be sure to remember to add the hashrocket to get the attributes to show properly. -->
        <strong> <%= kite.name  %> </strong> - <%= kite.size  %> - <%= kite.quantity %>

<%= link_to "More info", kite_path(kite) %>
    </li>

    <%  end  %>

</ul>